@tailwind base;
@tailwind components;
@tailwind utilities;


.arrow {
  position: relative;
  padding: 12px 0;
}

.arrow:before {
  content: '';
  height: 0;
  width: 0;
  border-width: 0 8px 12px 8px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}
